* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8F9;
}

header {
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    
}

main{
    background-color: white;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    
}

ul{
    margin-left: 30px;
    list-style: none;
}
section{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.color-1{
    background-color: #48ADF1;
}

.color-2{
    background-color: #9C72E4;
}

.color-3{
    background-color: #5EBEA6;
}

.color-4{
    background-color: #F29E33;
}

.color-5{
    background-color: #D763A1;
}

.color-6{
    background-color: #B0C925;
}

.text-color{
    color: white;
}

.a{
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid black; 
  border-radius: 7px;
}
  
.b {
    display: inline-block;
    width: 80px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;    
}

h1{
    font-size: 40px;
    padding: 10px;
    vertical-align: top;
}